body {
  background-attachment: fixed;
  background-image: linear-gradient(#008080, #40e0d0);
  text-align: center;
}

input {
  border-radius: 5px;
  border: none;
  padding: 10px;
  padding-right: 90px;
  margin-bottom: 20px;
  font-size: 14px;
}

.enterButton {
  cursor: pointer;
  border-radius: 5px;
  border: none;
  padding: 10px 35px;
  margin-left: 10px;
  color: #4eb9cd;
}

.clearButton {
  cursor: pointer;
  border-radius: 5px;
  border: none;
  padding: 10px 130px;
  color: rgba(0, 0, 0, 0.712);
  font-size: 20px;
  font-weight: bolder;
  margin-top: 30px;
}

.coolstuff {
  font-family: fantasy;
}
.coolstuff2 {
  border-style: inset;
  text-decoration: none;
  padding: 5px 5px;
  margin-left: 70px;
  margin-top: 50px;
  background-color: paleturquoise;
}
.List {
  margin: 30px 10px;
}
.delete {
  display: none;
}
ul {
  text-align: left;
  margin-top: 20px;
}

p {
  color: rgba(0, 0, 0, 0.712);
  letter-spacing: 4px;
}

.craze {
  float: right;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.493);
  cursor: pointer;
}

.cooltitle {
  letter-spacing: 7px;
  text-align: center;
  font-family: "Oswald", Helvetica, sans-serif;
  font-size: 40px;
  word-spacing: 0px;
  color: tomato;
  text-shadow: -1px -1px 0 firebrick, -2px -2px 0 firebrick,
    -3px -3px 0 firebrick, -4px -4px 0 firebrick, -5px -5px 0 firebrick,
    -6px -6px 0 firebrick, -7px -7px 0 firebrick, -8px -8px 0 firebrick,
    -30px 20px 40px dimgrey;
}

.done {
  text-decoration: line-through;
  background: #51df70;
  color: #00891e;
}

li {
  cursor: pointer;
  max-width: 100%;
  list-style: none;
  padding: 10px 20px;
  color: #ffffff;
  text-transform: capitalize;
  font-weight: 600;
  border: 2px solid #025f70;
  border-radius: 5px;
  margin: 10px 4%;
  transition: all 0.75s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5 ease;
}

@media (max-width: 600px) {
  li {
    cursor: pointer;
    max-width: 100%;
    list-style: none;
    padding: 10px;
    color: #ffffff;
    text-transform: capitalize;
    font-weight: 600;
    border: 2px solid #025f70;
    border-radius: 5px;
    margin: 10px;
    transition: all 0.75s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5 ease;
  }
}
